*{
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
    color: lime;
    background-color: black;
    
}

button{
    background-color: white;
    color: black;
}

h1{
    color: blue;
    text-decoration: underline;
}